<footer class="text-center">
  <div class="container mx-auto">
    <div
      class="user-profile-img"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      data-aos-offset="500"
      data-aos-delay="500"
    >
      <img src="/assets/images/footer-profile@2x.png" />
    </div>
    <div
      class="vertical-divider"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      data-aos-offset="500"
      data-aos-delay="1000"
    >
      <div></div>
    </div>
    <div
      class="contact-details"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      data-aos-offset="500"
      data-aos-delay="1500"
    >
      <h4 class="email text-white mb-65">hi@donouwens.com</h4>
      <p class="more text-white mb-60">or contact with me</p>
      <div class="social-contacts-con">
        <div class="social-contacts">
          <a href=""
            ><img
              src="/assets/images/dribbble-logo.svg"
              class="dribbble-icon mr-100"
          /></a>
          <a href=""
            ><img src="/assets/images/linkedin-logo.svg" class="linkedin-icon"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyrights text-white">
  <div class="container mx-auto">
    <div class="copyright-content">
      <div class="copyright-text">
        <p>Copyright 2021</p>
      </div>
      <div class="footer-menu-con">
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a href="" class="text-white">Cookie Policy</a>
          </li>
          <li class="footer-menu-item">
            <a href="" class="text-white">Terms & Conditions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
