/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "visbycf-thin";
  src: url("/assets/fonts/VisbyCF-Thin.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "visbycf-light";
  src: url("/assets/fonts/VisbyCF-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "visbycf-medium";
  src: url("/assets/fonts/VisbyCF-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "visbycf-demibold";
  src: url("/assets/fonts/VisbyCF-DemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "visbycf-bold";
  src: url("/assets/fonts/VisbyCF-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "visbycf-extrabold";
  src: url("/assets/fonts/VisbyCF-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "visbycf-Heavy";
  src: url("/assets/fonts/VisbyCF-Heavy.ttf");
  font-weight: 900;
}
